upload_data/taxi_zone_lookup/upload_taxi_zone_lookup.yml
id: upload_taxi_zone_lookup
namespace: trantam

tasks:
  - id: wdir
    type: io.kestra.plugin.core.flow.WorkingDirectory
    tasks:
      - id: clone
        type: io.kestra.plugin.git.Clone
        url: https://github.com/zalexdevon/dbt_cli_project.git

      - id: extract
        type: io.kestra.plugin.scripts.shell.Commands
        taskRunner:
          type: io.kestra.plugin.core.runner.Process
        outputFiles:
          - "*.csv"
        commands:
          - wget -q -O taxi_zone_lookup.csv https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv

      - id: read_sql
        type: io.kestra.plugin.scripts.python.Commands
        beforeCommands:
          - pip install kestra jinja2
        commands:
          - python upload_data/utils/read_sql.py '{}'  "upload_data/taxi_zone_lookup/sql/create_table.sql"

      - id: create_table
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: "{{ outputs.read_sql.vars.create_table }}"

      - id: copy_data_to_table
        type: io.kestra.plugin.jdbc.postgresql.CopyIn
        format: CSV
        from: '{{outputs.extract.outputFiles["taxi_zone_lookup.csv"]}}'
        table: "raw_data.taxi_zone_lookup"
        header: true
        columns: [LocationID, Borough, Zone, service_zone]

  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
    description: This will remove output files. If you'd like to explore Kestra outputs, disable it.

pluginDefaults:
  - type: io.kestra.plugin.jdbc.postgresql
    values:
      url: jdbc:postgresql://host.docker.internal:5432/ny_taxi
      username: root
      password: root
